# Ignore Files
#---------------------------
/config.php
/bin/Apache/conf/httpd.conf
/bin/Apache/conf/server.crt
/bin/Apache/conf/server.csr
/bin/Apache/conf/server.key
/bin/Apache/logs/*
/bin/PHP/php.ini
/bin/QSVEncC/qsv_check.html
/bin/TSTask/BonDriver/*
/bin/TSTask/BonDriver_TSTask.dll
/bin/TSTask/TSTask-tvrp.exe
/bin/TSTask/TSTaskCentre-tvrp.exe
/bin/TSTask/WinSCard.dll
/bin/TSTask/WinSCard.ini
/bin/TSTask/*.log
/data/twitter_session/*
/data/session/*
/data/upload/*
/data/comment.json
/data/niconico.cookie
/data/settings.json
/logs/*
/modules/Cast/cast.json
/modules/Cast/scan.json
/htdocs/server.crt
/htdocs/phpinfo.php
/htdocs/files/info/*
/htdocs/files/thumb/*
/htdocs/files/fileinfo.json
/htdocs/files/fileinfo.json.lock
/htdocs/files/history.json
/htdocs/stream/*
!.gitkeep

# Temporary Files
#---------------------------
# vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
# Emacs
.\#*
# Backup files
#---------------------------
*~
*.orig
*.bak
# yyyyMMdd
*.[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
# yyyyMMddHHmm
*.[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
# yyyyMMddHHmmss
*.[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
# OS dependent files
#---------------------------
.DS_Store
Thumbs.db
# Bundler specific
#---------------------------
/vendor/bundle/
/.bundle/
# Office specific
~$*
*.tmp
# Vagrant specific
.vagrant/