
# phpの拡張子なしでアクセス出来るように

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteCond %{QUERY_STRING} (.+)
RewriteRule ^(.*)/([1-9]+)$ $1.php?stream=$2&%1

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)/([1-9]+)$ $1.php?stream=$2

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteCond %{QUERY_STRING} (.+)
RewriteRule ^(.*)$ $1.php?%1
