
/** 基本 **/

:root {
    --color-white: #FFFFFF;
    --color-white-light: #FAFAFA;
    --color-menu: #FFFFFF;
    --color-hover: #F5F5F5;
    --color-hover-light: #f5f8fa;
    --color-background: #EEEEEE;
    --color-scrollbar: #E1E1E1;
    --color-shadow: #E0E0E0;
    --color-border: #E5E8EA;
    --color-border-dark: #272727;
    --color-red: #e91d5d;
    --color-green: #4ECDC4;
    --color-tweet: #1DA1F2;
    --color-tweet-disabled: #8ed0f9;
    --color-blue: #007CFF;
    --color-visited: #0163cd;
    --color-gray: #808080;
    --color-dark: #272727;
    --color-text: rgba(0, 0, 0, 0.87);
    --color-text-light: rgba(0, 0, 0, 0.70);
    --color-text-gray: rgba(0, 0, 0, 0.65);
    --color-text-darkgray: #4f565c;
}

.dark-theme {
    --color-white: #15202B;
    --color-white-light: #16212C;
    --color-menu: #2e2d3a;
    --color-hover: #26333e;
    --color-hover-light: rgba(107, 125, 140, 0.18);
    --color-background: #192734;
    --color-scrollbar: rgba(0, 0, 0, 0.5);
    --color-shadow: rgba(10, 10, 10, 0.5);
    --color-border: rgb(56, 68, 77);
    --color-border-dark: rgb(77, 94, 107);
    --color-tweet-disabled: #4a8bb3;
    --color-gray: rgba(255, 255, 255, 0.54);
    --color-dark: #E4E4E4;
    --color-text: rgba(255, 255, 255, 0.87);
    --color-text-light: rgba(255, 255, 255, 0.70);
    --color-text-gray: rgba(255, 255, 255, 0.54);
    --color-text-darkgray: #8d99a1;
}

html {
    transform: none !important;
}

body {
    transform: none !important;
    font-family: 'Open Sans','Segoe UI','Arial',sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0px;
    overflow-x: hidden;
    /* Pull-to-Refresh 対策 (https://qiita.com/TanakaMidnight/items/979cd7f044fb03a12a9d) */
    overscroll-behavior-y: none;
}

/* 本体のスクロールバー */

.scrollbar {
    scrollbar-width: thin;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(60, 60, 60, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}
.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(60, 60, 60, 0.58);
}
.scrollbar::-webkit-scrollbar-thumb:active {
    background-color: rgba(60, 60, 60, 0.7);
}

.dark-theme .scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(141, 153, 161, 0.5);
}
.dark-theme .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(141, 153, 161, 0.42);
}
.dark-theme .scrollbar::-webkit-scrollbar-thumb:active {
    background-color: rgba(141, 153, 161, 0.3);
}

a:link {
    color: var(--color-blue);
}

a:visited {
    color: var(--color-visited);
}

a:focus {
	outline: none;
}

pre {
    margin: 0;
    padding: 20px 50px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

pre:empty {
    padding: 0;
}

[aria-label]:before {
    border-top: 5px solid rgba(0, 0, 0, 0.8) !important;
}

[aria-label]:after {
    background: rgba(0, 0, 0, 0.8) !important;
}

@media screen and (min-width: 500px){
    pre::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background: var(--color-scrollbar);
    }
    pre::-webkit-scrollbar-corner {
        background: var(--color-scrollbar);
    }
    pre::-webkit-scrollbar-thumb {
        width: 8px;
        height: 8px;
        background: #657586;
    }
}

@media screen and (max-width: 500px){
    pre {
        padding: 15px 10px;
    }
}

.mark {
    position: relative;
    border: 1px solid #C51162;
    font-family: "HG丸ｺﾞｼｯｸM-PRO","Segoe UI","Arial",sans-serif;
    font-weight: bold;
    font-size: 80%;
    color: #FFF;
    background: #FF4081;
    margin: 1px 3px;
    padding: 1px;
    border-radius: 3px;
    bottom: 1.3px;
    z-index: 1;
}

.progressbar {
    width: 100%;
    height: 3px;
    background-color: #4ECDC444;
    margin-bottom: 15px;
    overflow: hidden;
}

.progress {
    width: 0%;
    height: 100%;
    background-color: var(--color-green);
    transition: 0.4s ease;
}

.line {
    height: 2px;
    background-color: var(--color-border);
}

/** アイコンなど **/

.material-icons {
    font-family: 'Material Icons';
    width: 1em;
    height: 1em;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

#toast-container>:hover {
    -moz-box-shadow: 0 0 0px #000 !important;
    -webkit-box-shadow: 0 0 0px #000 !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7) !important;
}

.toast-message {
    font-size: 16px;
}

@media (max-width: 480px) and (min-width: 241px){
    #toast-container>div {
        padding: 15px 15px 15px 50px;
    }
}

/** フォーム **/

input[type="text"] {
    -webkit-appearance: none;
    line-height: 100%;
}

input[type="text"]::-webkit-input-placeholder {
    padding-top: 0.2em;
}

input[type="submit"],
input[type="button"] {
    -webkit-box-sizing: content-box;
    -webkit-appearance: button;
    appearance: button;
	outline: none;
    border: none;
    background: none;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    font-family: inherit;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
    display: none;
}

input[type="submit"]::focus,
input[type="button"]::focus {
    outline-offset: -2px;
}

button {
	outline: none;
    border: none;
    background: none;
    padding: 0px;
    margin: 0px;
    font-family: inherit;
}

input::-moz-focus-inner, button::-moz-focus-inner {
    border: 0;
}

#scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 25px;
    bottom: 30px;
    width: 62px;
    height: 62px;
    opacity: 0;
    visibility: hidden;
    font-size: 31px;
    color: #FFFFFF;
    background-color: var(--color-green);
    transition: 0.2s ease-in-out;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    -webkit-tap-highlight-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    z-index: 150;
}

@media screen and (min-width: 1025px){
    #scroll:hover {
        background-color: #46b2aa;
    }
}

#scroll.hover {
    background-color: #46b2aa;
}

select {
    width: 320px;
    outline: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    background: none transparent;
    vertical-align: middle;
    font-size: inherit;
    font-family: inherit;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    line-height: 150%;
    height: 35px;
    padding: 6px 12px;
    border: 1.5px solid var(--color-border);
    background-color: var(--color-white);
    color: var(--color-text);
    border-radius: 3px;
}

select option {
    background-color: var(--color-white);
    color: var(--color-text);
}

select::-ms-expand {
    display: none;
}

select:-moz-focusring { 
    color: transparent; 
    text-shadow: 0 0 0 #828c9a;
}

.select-wrap {
    position: relative;
    display: inline-block;
    width: 320px;
}

.select-wrap:before {
    z-index: 1;
    position: absolute;
    right: 15px;
    top: 0;
    content: "\f0dc";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    line-height: 39px;
    color: #7F878C;
    pointer-events: none;
}

@media screen and (max-width : 500px){
    select{
        width: 100%;
    }
    .select-wrap {
        width: 100%;
    }
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 28px;
}

.toggle-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    margin: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; 
}

.toggle-label {
    width: 56px;
    height: 28px;
    background: #ccc;
    position: relative;
    display: inline-block;
    border-radius: 46px;
    transition: 0.2s;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent; 
}

.toggle-label:after {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.toggle-input:checked + .toggle-label {
    background-color: #4bd8a2;
}

.toggle-input:checked + .toggle-label:after{
    left: 28px;
}

/* セクション */

section {
    max-width: 1250px;
    height: 100%;
    margin: auto;
    background-color: var(--color-white);
    box-shadow: 0px 6px 6px 3px var(--color-shadow);
}

@media screen and (max-width : 1024px){
    section {
        max-width: 100%;
    }
}

/* レイアウト諸々 */

#main {
    margin-top: 54px;
}

#content-wrap {
    display: flex;
}

#content {
    width: 76%;
}

#sidebar {
    position: relative;
    width: 24%;
    min-height: 100%;
    max-height: 100%;
}

@media screen and (max-width : 768px){
    #content {
        width: 100%;
    }

    #sidebar {
        display: none;
    }
}

/* ヘッダー */

#top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    z-index: 100;
    overflow: hidden;
    box-shadow: 2px 0px 4px #272727;
    background-color: #272727;
    display: flex;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
}

/** ハンバーガーメニューボタン **/

#nav-open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    margin-left: 2vw;
    margin-right: 2vw;
    border-radius: 50%;
    transition: background-color 0.2s ease;
    cursor: pointer;
}
  
#nav-open, #nav-open:before, #nav-open:after {
    color: #FFFFFF;
}

@media screen and (min-width: 1025px) {
    #nav-open:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

#nav-open:before {
    bottom: -8px;
}

#nav-open:after {
    bottom: -16px;
}

#nav-open i {
    display: inline-block;
}

/** ロゴ **/

#logo {
    display: flex;
    align-items: center;
    height: 54px;
    margin: 0px;
    margin-right: auto;
    padding: 0px 3px 0px 5px;
    box-sizing: border-box;
    text-decoration: none;
}

#logo img {
    height: 38px;
    display: block;
}

/** サブメニューボタン **/

#menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    margin-left: 2vw;
    margin-right: 2vw;
    color: #FFFFFF;
    border-radius: 50%;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

#menu-fakebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    margin-left: 2vw;
    margin-right: 2vw;
}

@media screen and (min-width: 1025px) {
    #menu-button:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

#menu-close {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#menu-close.open {
    visibility: visible;
}

@media screen and (max-width: 1024px){

    #nav-open {
        margin-left: 20px;
        margin-right: 20px;
    }

    #menu-button:hover {
        color: #FFFFFF;
    }

    #menu-button {
        margin-left: 20px;
        margin-right: 20px;
    }

    #menu-fakebutton {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 767px){

    #main {
        margin-top: 0px;
        box-shadow: none;
    }

    #top {
        position: static;
    }
}

@media screen and (max-width: 500px){

    #nav-open {
        margin-left: 8px;
        margin-right: 8px;
    }

    #logo {
        margin-left: auto;
    }
    
    #logo img {
        height: 36px;
    }

    #menu-button {
        margin-left: 8px;
        margin-right: 8px;
    }

    #menu-fakebutton {
        margin-left: 8px;
        margin-right: 8px;
    }
}

@media screen and (max-width: 350px){

    #logo img {
        height: 34px;
    }
}

/* サブメニュー */

#menu-content {
    display: block;
    position: fixed;
    top: 46px;
    right: 2vw;
    width: 225px;
    background-color: var(--color-menu);
    border-radius: 8px;
    box-shadow: -1px 4px 2px 0 rgba(0,0,0,.14),
                0 3px 1px -2px rgba(0,0,0,.10),
                5px 2px 5px 0 rgba(0,0,0,.12);
    z-index:500;
    transition: opacity 0.2s, visibility 0.2s ease-out;
    opacity: 0;
    visibility: hidden;
    display: none;
}

#menu-content.open {
    transition-delay: 0s;
    opacity: 1;
    visibility: visible;
}

#menu-link-wrap {
    padding: 8px 0px;
}

.menu-link {
    padding: 0px 16px;
    height: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
}

.menu-link:hover {
    background-color: var(--color-hover-light);
}

.menu-link i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 21px;
}

.menu-link-href {
    margin-left: 8px;
}

google-cast-launcher {
    position: absolute !important;
    bottom: 8px;
    width: 100%;
    height: 48px;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

google-cast-launcher:hover + #cast-toggle{
    background-color: var(--color-hover-light);
}

google-cast-launcher:hover + #cast-toggle:before, google-cast-launcher:hover + #cast-toggle:after{
    transform: translate(-50%);
    opacity: 1;
}

@media screen and (max-width: 767px){

    #menu-content {
        top: 10px;
        right: 14px;
    }
}

@media screen and (max-width: 500px){

    #menu-content {
        top: 4px;
        right: 7px;
    }
}

/** 縦ヘッダー **/

@media screen and (min-width: 769px) {

    .vertical-navmenu #main {
        margin-top: 0px;
    }

    .vertical-navmenu #top {
        width: 54px;
        height: 100%;
        flex-direction: column;
        box-shadow: 0px 0px 4px #272727;
    }

    .vertical-navmenu #top #logo {
        margin-top: 15px;
        margin-left: -2px;
        order: 1;
    }

    .vertical-navmenu #top #nav-open {
        margin-top: 5px;
        margin-left: 0;
        margin-right: 0;
        order: 2;
    }

    .vertical-navmenu #top #menu-button, .vertical-navmenu #top #menu-fakebutton {
        margin-top: auto;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 15px;
        order: 3;
    }

    .vertical-navmenu #menu-content {
        top: calc(100vh - 208px - 54px - 15px);
        left: 8px;
        right: auto;
    }
    @media screen and (max-width: 1024px){
        .vertical-navmenu #menu-content {
            top: calc(100vh - 160px - 54px - 15px);
        }
    }
}

/* 黒い透明のやつ */

#nav-close {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%; /* スマホでURLバーが出入りしたときに途切れないように */
    background-color: #000000;
    transition: opacity 0.3s, visibility 0.3s cubic-bezier(.4,0,.4,1);
    opacity: 0;
    visibility: hidden;
}

/* 黒い透明のやつ (全体にかかるやつ) */

#cover {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%; /* スマホでURLバーが出入りしたときに途切れないように */
    background-color: #000000;
    transition: opacity 0.3s, visibility 0.3s cubic-bezier(.4,0,.4,1);
    opacity: 0;
    visibility: hidden;
}

/* サイドメニュー */

#nav-content {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 90%;
    max-width: 270px;
    height: 100%;
    background-color: #272727;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
    transition: transform 0.3s cubic-bezier(.4,0,.4,1);
    will-change: transform;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#nav-content::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #474747;
}
#nav-content::-webkit-scrollbar-corner {
    background: #474747;
}
#nav-content::-webkit-scrollbar-thumb {
    background: #737373;
}

#nav-content i {
    width: 24px;
}

.nav-logo {
    padding: 16px 30px 8px 30px;
    margin: 0;
    width: 100%;
    color: #fafafa;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    vertical-align: baseline;
    border-bottom: 1.5px #171717 solid;
}

.nav-logo img {
    width: 180px;
}

.nav-link {
    display: flex;
    padding: 16px 16px 16px 35px;
    margin: 0;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1.5px #171717 solid;
}

.nav-link, .nav-link:link, .nav-link:visited {
    color: #fafafa;
}

.nav-link:hover{
    background-color: #373737;
}

.nav-link i {
    font-size: 26px;
    margin-right: 30px;
}

/* メニューボタンが押されたら表示 */

#nav-close.open, #cover.open {
    transition-delay: 0s;
    opacity: 0.5;
    visibility: visible;
}

#nav-content.open {
    -webkit-transform: none;
    transform: none;
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

/* プレイヤー周り */

#dplayer-box {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    background-color: #000000;
}

#dplayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.dplayer-casting {
    opacity: 0;
    position: absolute;
    top: 25px;
    left: 45px;
    font-size: 24px;
    border-radius: 2px;
    padding: 7px 20px;
    transition: all .3s ease-in-out;
    overflow: hidden;
    color: #fff;
    pointer-events: none;
}

.dplayer-floating {
    position: fixed !important;
    width: 280px !important;
    height: calc(280px / 16 * 9) !important;
    top: 76px !important;
    left: auto !important;
    right: 25px !important;
    bottom: auto !important;
    z-index: 400 !important;
    border-radius: 6px;
    box-shadow: 0 1px 8px 0 rgba(32, 33, 36, 0.35);
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

@media (max-width: 1024px){

    .dplayer-floating {
        width: 230px !important;
        height: calc(230px / 16 * 9) !important;
    }
}

@media (max-width: 500px){

    #dplayer-box {
        height: auto;
        padding-top: 0px;
    }

    #dplayer {
        position: sticky;
        position: -webkit-sticky;
        top: 0px;
        z-index: 2;
        height: calc(100vw * 9 / 16);
    }

    .dplayer-fulled {
        position: fixed !important;
    }

    .dplayer-casting {
        font-size: 15px;
        top: 6px;
        left: 3px;
    }
}

/* コメント一覧 */

#comment-box {
    display: grid;
    position: relative;
    grid-template-columns: 100%; /* 横幅 */
    grid-template-rows: 40px 40px 1fr; /* 縦幅 */
    min-height: 100%;
    max-height: 100%;
}

#comment-box-header {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 14.5px;
    background-color: var(--color-white);
    padding: 10px 20px 8px 20px;
}

#comment-draw-box-header {
    display: block;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #F5F5F5;
}

#comment-draw-box-header tbody, #comment-draw-box-header tr {
    height: 100%;
}

.dark-theme #comment-draw-box-header {
    background-color: rgb(56, 68, 77);
}

.dark-theme #comment-draw-box-header .time {
    border-right: 1px solid #4d4d4d;
}

#comment-draw-wrap {
    display: block;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    max-width: 100%;
}

#comment-draw-box {
    display: block;
    position: static;
    height: 100%;
    border-collapse: collapse;
    border-left: 1px solid var(--color-border);
    border-bottom: 8px solid var(--color-border);
    color: var(--color-text);
    font-size: 90%;
    scrollbar-width: thin;
    overflow-y: scroll;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
    outline: none;
}

#comment-draw-box::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: var(--color-scrollbar);
}
#comment-draw-box::-webkit-scrollbar-corner {
    background: var(--color-scrollbar);
}
#comment-draw-box::-webkit-scrollbar-thumb {
    background: #657586;
}

#comment-draw-box tr:first-of-type .time,
#comment-draw-box tr:first-of-type .comment {
    padding-top: 10px;
}

#comment-draw-box tr:last-of-type .time,
#comment-draw-box tr:last-of-type .comment {
    padding-bottom: 10px;
}

tbody {
    display: block;
}

tr {
    display: flex;
}

th {
    padding-top: 9px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

td {
    overflow-wrap: break-all;
    word-wrap: break-all;
    word-break: break-all;
}

.comment-file {
    cursor: pointer;
}

.comment-lightmode .comment-file {
    height: 28px;
}

.comment-lightmode #comment-draw-box .comment-file:first-of-type .time,
.comment-lightmode #comment-draw-box .comment-file:last-of-type .time {
    padding: 3px 0px;
}
.comment-lightmode #comment-draw-box .comment-file:first-of-type .comment,
.comment-lightmode #comment-draw-box .comment-file:last-of-type .comment {
    padding: 3px 12px;
}

.comment-lightmode #comment-draw-box tbody {
    padding-top: 6.5px;
    padding-bottom: 6.5px;
}

.comment-lightmode .comment-file .comment {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.time {
    width: 84px;
    min-height: 28px;
    padding: 3px 0px;
    border-right: 1px solid var(--color-border);
    box-sizing: border-box;
}

.comment-file .time {
    width: 62px;
}

@media screen and (min-width: 1025px){
    .comment-file:hover {
        color: var(--color-blue);
    }
}

.comment {
    width: calc(100% - 46px);
    min-height: 28px;
    padding: 3px 12px;
    box-sizing: border-box;
    overflow: hidden;
}

#comment-scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(50% - 23px);
    bottom: 25px;
    width: 46px;
    height: 46px;
    padding: 9px;
    border-radius: 50%;
    font-size: 25px;
    color: #FFFFFF;
    background-color: var(--color-green);
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease-in-out;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 90;
}
#comment-scroll.show {
    visibility: visible;
    opacity: 1;
}

@media screen and (min-width: 1025px){
    #comment-scroll:hover {
        background-color: #46b2aa;
    }
}

/* ここまで */

#description {
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 90%;
}

/* ツイート関連 */

#tweet-account-box {
    display: block;
    position: relative;
    float: left;
    width: 275px;
    height: 67px;
    left: 3vw;
    margin-top: -65px;
    border-radius: 10px;
    background-color: var(--color-white);
    box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
    transition: 0.15s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
}

#tweet-account {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
}

#tweet-account-icon {
    height: 100%;
    border-radius: 20%;
}

#tweet-account-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 15px;
}

#tweet-account-name {
    display: block;
    width: 190px;
    color: var(--color-text);
    font-weight: bold;
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

#tweet-account-name:hover {
    text-decoration: underline;
}

#tweet-account-id {
    display: block;
    width: 190px;
    color: var(--color-text-darkgray);
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tweet-box {
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 90%;
    z-index: 100;
}

#tweet-box.open {
    position: fixed;
    background-color: var(--color-white);
    bottom: 0px;
    transition-delay: 0s;
    opacity: 1.0;
    visibility: visible;
}

#tweet-close {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    visibility: hidden;
}

#tweet-close.open {
    transition-delay: 0s;
    opacity: 0.2;
    visibility: visible;
}

#tweet-info {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    display: block;
    overflow: hidden;
    font-size: 95%;
}

#tweet-title {
    display: block;
    position: relative;
    width: 30px;
    color: var(--color-tweet);
    font-size: 111%;
    float: left;
    text-align: center;
    cursor: pointer;
}

#tweet-status {
    display: block;
    width: calc(100% - 30px);
    color: var(--color-tweet);
    float: right;
    text-align: right;
}

#tweet-status .tweet-failed {
    color: #e8004a;
}

#tweet-status a:hover {
  text-decoration: underline;
}

#tweet-login {
    color: var(--color-blue);
    text-decoration: none;
}

#tweet-logout {
    color: #e8004a;
    text-decoration: none;
}

#tweet-login i, #tweet-logout i {
    display: inline-block;
    margin-right: 5px;
}

#tweet-form {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 10px;
    display: flex;
}

#tweet-main {
    display: block;
    position: relative;
    width: 85%;
    padding: 12px;
    background-color: var(--color-hover);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px var(--color-tweet) solid;
}

#tweet-hashtag {
    width: 100%;
    height: 27px;
    margin: 0px;
    padding: 0px;
    padding-right: 110px;
    padding-bottom: 4px;
    border: 0px;
    background: none;
    color: var(--color-tweet);
    font-size: 105%;
    font-family: inherit;
    outline: none;
    box-sizing: border-box;
}

#tweet-hashtag::placeholder {
    color: var(--color-tweet);
    opacity: 0.7;
}

#tweet {
    width: 100%;
    height: 50px;
    margin: 0px;
    padding: 0px;
    padding-top: 4px;
    font-family: inherit;
    font-size: 105%;
    resize: none;
    color: var(--color-text);
    outline: none;
    border: 0px;
    background: none;
}

#tweet::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: var(--color-scrollbar);
}
#tweet::-webkit-scrollbar-corner {
    background: var(--color-scrollbar);
}
#tweet::-webkit-scrollbar-thumb {
    background: #657586;
}

#tweet-etc {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 4%;
    margin-left: 10px;
    user-select: none;
    -webkit-user-select: none;
}

#tweet-etc div[aria-label]:before {
    display: none;
}

#tweet-etc div[aria-label]:after {
    padding: .3em .8em !important;
    margin-bottom: 6px !important;
    background: rgba(29, 161, 242, 0.8) !important;
    font-size: 11px !important;
    transition: all 0.1s ease 0.1s;
}

@media screen and (max-width: 1024px) {
    #tweet-etc div[aria-label]:before, #tweet-etc div[aria-label]:after {
        display: none;
    }
}

.tweet-etc-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

.tweet-etc-item img {
    width: 24px;
}

.tweet-etc-item:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

@media screen and (max-width: 768px) {
    .tweet-etc-item:hover {
        background-color: none;
    }
}

#tweet-capture-num-img {
    display: block;
    position: absolute;
    top: 16.2px;
    right: 93.5px;
    height: 15px;
    fill: #707070;
}

#tweet-capture-num {
    display: block;
    position: absolute;
    top: 15px;
    right: 68px;
    color: #707070;
    font-size: 13px;
    font-weight: bold;
}

#tweet-num-img {
    display: block;
    position: absolute;
    top: 17px;
    right: 39.5px;
    height: 13px;
    font-size: 0.95em;
    color: #707070;
}

#tweet-num {
    display: block;
    position: absolute;
    top: 15px;
    right: 13px;
    color: #707070;
    font-size: 13px;
    font-weight: bold;
}

#tweet-num.warn {
    color: #febc49;
    font-weight: bold;
}

#tweet-num.over {
    color: #df235e;
    font-weight: bold;
}


@media screen and (max-width: 500px) {

    #tweet-hashtag {
        padding-right: 30px;
    }
    
    #tweet-capture-num-img {
        display: none;
    }
    
    #tweet-capture-num {
        display: none;
    }
    
    #tweet-num-img {
        display: none;
    }
    
    #tweet-num {
        right: 12px;
    }
}

#tweet-capture-box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -2px;
    padding: 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--color-hover);
    transition: all 0.1s ease;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    visibility: hidden;
    opacity: 0;
}
#tweet-capture-box.show {
    visibility: visible;
    opacity: 1;
}
#tweet-capture-box.display {
    display: flex;
}
@media screen and (min-width: 1025px) {
    #tweet-capture-box::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background: var(--color-hover);
    }
    #tweet-capture-box::-webkit-scrollbar-corner {
        background: var(--color-hover);
    }
    #tweet-capture-box::-webkit-scrollbar-thumb {
        background: #657586;
    }
}

.tweet-capture {
    position: relative;
    width: 87px;
    height: 87px;
    margin-right: 12px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.tweet-capture.disabled {
    cursor: auto;
}
.tweet-capture:last-of-type {
    padding-right: 12px;
}

.tweet-capture-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #f5f5f5;
    background: rgb(39, 39, 39, 50%);
    border: 3.2px solid #4ecda4;
    border-radius: 5px;
    font-size: 28px;
    visibility: hidden;
    opacity: 0;
}
.dark-theme .tweet-capture-cover {
    background: rgb(39, 39, 39, 70%);
}
.tweet-capture.selected .tweet-capture-cover {
    visibility: visible;
    opacity: 1;
}
.tweet-capture[data-autoselect]  .tweet-capture-cover {
    border: 3.2px solid var(--color-green);
}
.tweet-capture.disabled .tweet-capture-cover {
    border: none;
    background: rgb(245, 245, 245, 50%);
    visibility: visible;
    opacity: 1;
}
.dark-theme .tweet-capture.disabled .tweet-capture-cover {
    background: rgb(245, 245, 245, 30%);
}
.tweet-capture:last-of-type .tweet-capture-cover {
    margin-right: 12px;
}

@media screen and (min-width: 1025px) {
    .tweet-capture-focus {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 3.2px solid var(--color-tweet);
        border-radius: 5px;
        font-size: 28px;
        visibility: hidden;
        opacity: 0;
    }
    .tweet-capture.focus .tweet-capture-focus {
        visibility: visible;
        opacity: 1;
    }
    .tweet-capture:last-of-type .tweet-capture-focus {
        margin-right: 12px;
    }
}

.tweet-capture-img {
    display: block;
    width: 87px;
    height: 87px;
    border-radius: 5px;
    background: #272727;
    object-fit: cover;
}

#tweet-submit {
    width: 10%;
    margin-left: 10px;
    font-weight: bold;
    font-family: inherit;
    color: #ffffff;
    outline: none;
    border-radius: 4px;
    border-style: none;
    background-color: var(--color-tweet);
    transition: all  0.1s ease;
    cursor: pointer;
}

#tweet-submit:hover {
    background-color: #1d82f2;
}

#tweet-submit.disabled {
    background-color: var(--color-tweet-disabled);
    cursor: default;
}

#tweet-submit.disabled:hover {
    background-color: var(--color-tweet-disabled);
}

@media screen and (max-width: 1000px){

    #tweet-main {
        width: 80%;
    }
  
    #tweet-etc {
        width: 5%;
    }
    
    #tweet-submit {
        width: 15%;
    }
}

@media screen and (max-width: 500px){
 
    #tweet-main {
        width: 65%;
    }

    #tweet-etc {
        width: 10%;
    }
    
    #tweet-submit {
        width: 25%;
        margin-left: 8px;
    }
}

/* 番組情報 */

#epg-box {
    padding-top: 18px;
    padding-bottom: 5px;
}

/* 番組情報メイン */

#epg {
    display: block;
    margin: 0;
    font-size: 21px;
    color: var(--color-text);
    padding-left: 20px;
    padding-right: 20px;
}

#epg-title {
    display: inline-block;
    font-size: 21px;
    margin-bottom: 4px;
}

#reload-box {
    display: block;
    float: right;
    clear: both;
    margin-top: 9px;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 8px;
}

#reload {
    font-size: 18px;
    color: var(--color-gray);
    text-decoration: none;
}

#epg-next {
    color: var(--color-gray);
    font-size: 15.8px;
    margin-bottom: 10px;
}

#epg-info {
    width: 77%;
    margin-bottom: 10px;
    color: var(--color-gray);
    font-size: 15px;
    line-height: 150%;
}

@media screen and (max-width: 1024px){

    #reload:before {
        display: none;
    }

    #reload:after {
        display: none;
    }
}

@media screen and (max-width: 767px){

    #reload-box {
        margin-top: 6px;
        margin-bottom: 0px;
    }

    #epg-info {
        width: 100%;
    }
}

@media screen and (max-width: 500px){

    #epg {
        padding-left: 5px;
        padding-right: 5px;
    }
    
    #epg-title {
        font-size: 19px;
    }

    #reload-box {
        display: block;
        text-align: right;
        float: none;
        clear: none;
        margin-top: 0px;
        margin-bottom: 6px;
        font-size: 16.5px;
    }

    #reload {
        font-size: 16.5px;
    }
}

/* 番組情報サブ */

#epg-subinfo {
    font-size: 16.6px;
    line-height: 155%;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

#status {
    display: none;
}

#epg-chinfo {
    display: inline-block;
}

#epg-channel {
    display: inline-block;
    margin-left: 3px;
    color: var(--color-red);
}

#epg-time {
    display: inline-block;
    margin-left: 3px;
    color: var(--color-gray);
}

#watch {
    display: block;
    color: var(--color-gray);
    margin-top: 4px;
    margin-left: 3px;
    margin-right: 3px;
}

#watching {
    margin-right: 6px;
}

#ikioi {
    margin-right: 6px;
}

#comment-counter {
    margin-right: 6px;
    white-space: nowrap;
}

@media screen and (max-width: 500px){
    #epg-subinfo {
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* ストリーム一覧 */

#stream-view-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--color-text);
    box-sizing: border-box;
}

.stream-view {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: var(--color-text);
    padding: 0px 20px;
    border-bottom: 2px solid var(--color-border);
    box-sizing: border-box;
    transition: background-color ease 0.3s;
    text-align: left;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.stream-view:first-of-type {
    border-top: 2px solid var(--color-border);
}

.stream-box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.stream-number {
    margin-left: 6px;
}

.stream-stop {
    margin-top: 2.5px;
    margin-left: 25px;
}

.stream-stop-icon {
    font-size: 26px;
    color: var(--color-red);
    opacity: 1;
}

.stream-stop.disabled {
    cursor: auto;
}

.stream-stop.disabled .stream-stop-icon {
    color: #808080;
    opacity: 0.5;
}

.stream-stop:hover .stream-stop-icon {
    color: #b91a4d;
}

.stream-stop.disabled:hover .stream-stop-icon {
    color: #808080;
}

.stream-state {
    min-width: 70px;
    margin-left: 30px;
    color: #808080;
    font-size: 17px;
}

.stream-state.blue {
    color: var(--color-blue);
}

.stream-state.green {
    color: var(--color-green);
}

.stream-info {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.stream-title {
    display: inline-block;
    line-height: 18.5px;
}

.stream-channel {
    display: inline-block;
    line-height: 17px;
    margin-left: 15px;
    font-size: 13.5px;
    color: var(--color-red);
}

.stream-description {
    display: inline-block;
    line-height: 17px;
    margin-left: 15px;
    color: #808080;
    font-size: 13.5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen and (min-width: 1025px){
    .stream-view:hover {
        background-color: var(--color-hover);
    }
}

@media screen and (max-width: 500px){

    .stream-view {
        padding: 0px 10px;
    }

    .stream-number-title {
        display: none;
    }

    .stream-stop {
        margin-left: 10px;
    }

    .stream-state {
        margin-left: 15px;
    }

    .stream-info {
        margin-left: 10px;
    }

    .stream-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .stream-channel {
        display: none;
    }

    .stream-description {
        display: none;
    }
}

/* インフォメーション */

#information {
    padding-top: 10px;
    padding-bottom: 15px;
}

.error {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--color-red);
    font-size: 14px;
    font-weight: bold;
}

/* 番組表タブ */

#broadcast-tab {
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    user-select: none;
    -webkit-user-select: none;
}

.broadcast-button {
    width: calc(100% / 3) !important;
    color: var(--color-text-light);
    padding: 15px 20px;
    border-bottom: 5px solid var(--color-border);
    cursor: pointer;
    list-style: none;
    text-align: center;
    box-sizing: border-box;
    line-height: 100%;
    transition: ease 0.3s !important;
}

@media screen and (min-width: 1025px){
    .broadcast-button:hover {
        background: var(--color-hover);
    }
}

.swiper-slide-thumb-active {
    color: var(--color-blue);
    border-bottom: 5px solid var(--color-blue);
}

#next-channel {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--color-text-light);
    font-size: 110%;
}

/* 番組表 */

#broadcast-box {
    padding-bottom: 10px;
}

.broadcast-wrap {
    padding-top: 10px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

.broadcast {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 9px;
    background: none;
    border: none;
	outline: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: left;
    cursor: pointer;
    box-sizing: border-box;
}

@media screen and (min-width: 1025px){
    .broadcast-wrap:hover {
        background-color: var(--color-hover);
    }
}

.broadcast-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 18%;
    color: #FFFFFF;
    background-color: var(--color-green);
    font-size: 24px;
    box-sizing: border-box;
}

.broadcast-logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-shrink: 0;
    border-radius: 18%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.broadcast-content {
    display: flex;
    width: 81%;
    flex-direction: column;
    font-family: inherit;
    padding-left: 20px;
    color: var(--color-text);
}

@media screen and (max-width: 350px){
    .broadcast {
        padding-left: 13px;
        padding-right: 13px;
    }

    .broadcast-content {
        padding-left: 15px;
    }
}

.broadcast-name-box {
    display: flex;
    align-items: center;
}

.broadcast-channel-box {
    display: flex;
    height: 20px;
    margin-bottom: 4px;
}

.broadcast-channel {
    display: inline-block;
    margin-top: 2px;
    margin-right: 10px;
    font-size: 16.5px;
    overflow: hidden;
    line-height: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.broadcast-channel-id {
    display: none;
}

@media screen and (max-width: 500px){
    .broadcast-channel {
        display: none;
    }
}

.broadcast-name {
    display: inline-block;
    margin-right: 15px;
    font-size: 16.5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 100%;
}

.broadcast-jikkyo {
    display: inline-block;
    color: var(--color-text-light);
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 100%;
}

.broadcast-title {
    display: block;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13.5px;
    height: 20px;
}

.broadcast-next {
    display: block;
    color: var(--color-text-gray);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13.5px;
    height: 20px;
}

/* ストリーム開始ボックス */

#broadcast-stream-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 400;
    margin: auto;
    padding: 20px 22px;
    box-sizing: border-box;
    transition: transform 0.33s, opacity 0.3s, visibility 0.3s ease-in-out;
    transform: translateY(-50px);
    visibility: hidden;
    opacity: 0;
    width: 95%;
    height: 395px;
    max-width: 500px;
    max-height: 95vh;
    background-color: var(--color-white);
    border-radius: 5px;
    font-size: 16px;
    will-change: opacity;
}

#broadcast-stream-box.open {
    transform: translateY(0px) !important;
    transition-delay: 0s;
    visibility: visible;
    opacity: 1;
}

#broadcast-stream-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

#broadcast-stream-info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    color: gray;
    margin-top: 5px;
}

#button-box.broadcast-button-box {
    margin-top: 22px;
    margin-bottom: 0px;
    justify-content: flex-end;
}

#button-box.broadcast-button-box button:last-of-type {
    margin-right: 0px;
}

@media (max-width: 1024px) {
    /* iOS Safari のみ */ 
    _::-webkit-full-page-media, _:future, :root #broadcast-stream-box {
        max-height: 83vh;
    }
}

@media screen and (max-width: 767px){
    #broadcast-stream-box {
        top: auto;
        width: 100%;
        height: 531px;
        padding: 20px 18px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        transform: translateY(600px);
        opacity: 1;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    
    .android.chrome #broadcast-stream-box {
        height: 513px;
    }
}

/* Chromecastボックス */

#chromecast-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 400;
    transition: transform 0.33s, opacity 0.3s, visibility 0.3s ease-in-out;
    transform: translateY(-50px);
    visibility: hidden;
    opacity: 0;
    will-change: opacity;
}

#chromecast-box.open {
    transform: translateY(0px);
    transition-delay: 0s;
    visibility: visible;
    opacity: 1;
}

#chromecast-title-box {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    font-size: 95%;
    margin-bottom: 10px;
}

#chromecast-wrap {
    display: block;
    width: 95%;
    max-width: 500px;
    max-height: 95vh;
    padding: 20px;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--color-white);
    box-sizing: border-box;
}

#chromecast-title {
    display: inline-block;
    margin-left: 10px;
}

#chromecast-device-box {
    min-height: 75px;
}

#chromecast-device-box i {
    font-size: 130%;
}

.chromecast-device {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 20px 10px 20px;
    border-bottom: 1px solid #999999;
    transition: 0.15s ease-in-out;
    font-size: 120%;
    cursor: pointer;
}

.chromecast-device:hover {
    background-color: var(--color-hover);
}

.chromecast-name-box {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.chromecast-name {
    margin-bottom: 5px;
    line-height: 100%;
}

.chromecast-type {
    font-size: 85%;
    color: var(--color-text-gray);
}

@media screen and (max-width: 767px){
    #chromecast-box {
        top: auto;
        transform: translateY(350px);
        opacity: 1;
    }

    #chromecast-wrap {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
}

/* カスタムラジオコントロール（ Bootstrap4 より拝借）*/

.custom-control ::before, .custom-control ::after {
    box-sizing: border-box;
}

.custom-control input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.custom-control input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.custom-control {
    position: relative;
    z-index: 1;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.custom-control-inline {
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 1rem;
}

.custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #80bdff;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.custom-control-input[disabled] ~ .custom-control-label, .custom-control-input:disabled ~ .custom-control-label {
    color: #6c757d;
}

.custom-control-input[disabled] ~ .custom-control-label::before, .custom-control-input:disabled ~ .custom-control-label::before {
    background-color: #e9ecef;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}

.custom-control-label::before {
    position: absolute;
    top: 0.25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.custom-control-label::after {
    position: absolute;
    top: 0.25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50% / 50% 50%;
}

.custom-radio .custom-control-label::before {
    border-radius: 50%;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: rgba(0, 123, 255, 0.5);
}

/* カスタムレンジコントロール（ Bootstrap4 より拝借）*/

.custom-range {
    width: 100%;
    height: 1.4rem;
    padding: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-range:focus {
    outline: none;
}

.custom-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-range:focus::-moz-range-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-range:focus::-ms-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-range::-moz-focus-outer {
    border: 0;
}

.custom-range::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
    margin-top: -0.25rem;
    background-color: #007bff;
    border: 0;
    border-radius: 1rem;
    -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    appearance: none;
}

@media (prefers-reduced-motion: reduce) {
    .custom-range::-webkit-slider-thumb {
    -webkit-transition: none;
    transition: none;
    }
}

.custom-range::-webkit-slider-thumb:active {
    background-color: #b3d7ff;
}

.custom-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5rem;
    color: transparent;
    cursor: pointer;
    background-color: #dee2e6;
    border-color: transparent;
    border-radius: 1rem;
}

.custom-range::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    background-color: #007bff;
    border: 0;
    border-radius: 1rem;
    -moz-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
    -moz-appearance: none;
    appearance: none;
}

@media (prefers-reduced-motion: reduce) {
    .custom-range::-moz-range-thumb {
    -moz-transition: none;
    transition: none;
    }
}

.custom-range::-moz-range-thumb:active {
    background-color: #b3d7ff;
}

.custom-range::-moz-range-track {
    width: 100%;
    height: 0.5rem;
    color: transparent;
    cursor: pointer;
    background-color: #dee2e6;
    border-color: transparent;
    border-radius: 1rem;
}

.custom-range::-ms-thumb {
    width: 1rem;
    height: 1rem;
    margin-top: 0;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    background-color: #007bff;
    border: 0;
    border-radius: 1rem;
    -ms-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
}

@media (prefers-reduced-motion: reduce) {
    .custom-range::-ms-thumb {
    -ms-transition: none;
    transition: none;
    }
}

.custom-range::-ms-thumb:active {
    background-color: #b3d7ff;
}

.custom-range::-ms-track {
    width: 100%;
    height: 0.5rem;
    color: transparent;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    border-width: 0.5rem;
}

.custom-range::-ms-fill-lower {
    background-color: #dee2e6;
    border-radius: 1rem;
}

.custom-range::-ms-fill-upper {
    margin-right: 15px;
    background-color: #dee2e6;
    border-radius: 1rem;
}

.custom-range:disabled::-webkit-slider-thumb {
    background-color: #adb5bd;
}

.custom-range:disabled::-webkit-slider-runnable-track {
    cursor: default;
}

.custom-range:disabled::-moz-range-thumb {
    background-color: #adb5bd;
}

.custom-range:disabled::-moz-range-track {
    cursor: default;
}

.custom-range:disabled::-ms-thumb {
    background-color: #adb5bd;
}

/* L字画面クロップ設定ボックス */

#ljicrop-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 400;
    transition: transform 0.33s, opacity 0.3s, visibility 0.3s ease-in-out;
    transform: translateY(-50px);
    visibility: hidden;
    opacity: 0;
    will-change: opacity;
}

#ljicrop-box.open {
    transform: translateY(0px);
    transition-delay: 0s;
    visibility: visible;
    opacity: 1;
}

#ljicrop-wrap {
    display: block;
    width: 95%;
    max-width: 540px;
    padding: 18px 22px;
    border-radius: 5px;
    font-size: 15px;
    background-color: var(--color-white);
    box-sizing: border-box;
}

.ljicrop-head-box {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 12px;
}
.ljicrop-head-box.title {
    margin-bottom: 18px;
}

.ljicrop-head-box i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 21px;
}

.ljicrop-head {
    display: inline-block;
    margin-left: 7px;
}

#ljicrop-point-box {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 22px;
    padding: 0 18px;
    box-sizing: border-box;
}

.ljicrop-point {
    display: flex;
    align-items: center;
    margin-right: auto;
    font-size: 14px;
    line-height: 1;
    user-select: none;
    --webkit-user-select: none;
}
.ljicrop-point:last-of-type {
    margin-right: 0;
}

.ljicrop-point > input[type="radio"] {
    width: 15px;
    height: 15px;
    margin-top: 1px;
    margin-left: 0px;
    margin-right: 7px;
    vertical-align: middle;
}

.ljicrop-range-box {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.ljicrop-range-box > input[type="range"] {
    width: 100%;
}

.ljicrop-range-start {
    margin-right: 20px;
}

.ljicrop-range-end {
    margin-left: 20px;
}

@media screen and (max-width: 767px){
    #ljicrop-box {
        top: auto;
        transform: translateY(600px);
        opacity: 1;
    }

    #ljicrop-wrap {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    #ljicrop-point-box {
        padding: 0 3px;
    }
}


/* Hotkeyボックス */

#hotkey-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 400;
    transition: transform 0.33s, opacity 0.3s, visibility 0.3s ease-in-out;
    transform: translateY(-50px);
    visibility: hidden;
    opacity: 0;
    will-change: opacity;
}

#hotkey-box.open {
    transform: translateY(0px);
    transition-delay: 0s;
    visibility: visible;
    opacity: 1;
}

#hotkey-wrap {
    display: block;
    width: 95%;
    max-width: 1050px;
    padding: 18px 22px;
    border-radius: 5px;
    font-size: 15px;
    background-color: var(--color-white);
    box-sizing: border-box;
}

.hotkey-head-box {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 95%;
    margin-top: 3px;
    margin-bottom: 13px;
}

.hotkey-head-box.title {
    margin-bottom: 12px;
}

.hotkey-head-box i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 21px;
}

.hotkey-head {
    display: inline-block;
    margin-left: 7px;
}

.hotkey-head-sub {
    display: inline-block;
    margin-left: auto;
    font-weight: normal;
    font-size: 13px;
}

#hotkey-list-box {
    display: flex;
    justify-content: space-between;
    height: 84%;
}

.hotkey-list-wrap {
    display: flex;
    flex-direction: column;
    width: 49%;
    box-sizing: border-box;
}

.hotkey-list {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.hotkey-list-name {
    margin-right: auto;
}

.hotkey-list-name.focus {
    max-width: 50%;
}

.hotkey-list-key-box {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding-left: 15px;
}

.hotkey-list-key-box.focus {
    max-width: 50%;
}

.hotkey-list-key {
    padding: 2.5px 4px;
    background-color: var(--color-hover);
    border-radius: 5px;
    margin: 0px 3px;
}

.hotkey-list-key.alphabet {
    width: 15px;
    text-align: center;
}

.hotkey-list-key i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    font-size: 12.5px;
}

#hotkey-box .broadcast-button-box {
    margin-top: 10px;
}

@media screen and (max-width: 1024px){
    #hotkey {
        display: none;
    }
}

/* フォーム */

.form {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14.5px;
}

.form span {
    display: inline-block;
    width: 36%;
}

.form .select-wrap {
    width: 100%;
}

.form select {
    width: 100%;
}

@media screen and (max-width: 500px){

    .form {
        align-items: normal;
        flex-direction: column;
    }

    .form span {
        width: 100%;
        margin-bottom: 5px;
    }
}

/* ボタン */

#button-box {
    display: flex;
    margin-top: 20px;
    margin-bottom: 15px;
}

#button-box i {
    margin-left: 0px !important;
    margin-right: 10px !important;
}

.bluebutton {
    display: inline-block;
    margin-right: 15px;
    padding: 0.5em 1em;
    font-weight: bold;
    font-family: inherit;
    font-size: 12.5px;
    color: #ffffff;
    outline: none;
    border-radius: 4px;
    border-style: none;
    background-color: var(--color-blue);
    transition: all  0.1s ease;
    cursor: pointer;
}

.bluebutton:hover {
    background-color: #016fe4;
}

.bluebutton[disabled], .bluebutton[disabled]:hover, .bluebutton.disabled, .bluebutton.disabled:hover {
    background-color: #55a7ff;
    cursor: auto;
}

.redbutton {
    display: inline-block;
    margin-right: 15px;
    padding: 0.5em 1em;
    font-weight: bold;
    font-family: inherit;
    font-size: 12.5px;
    color: #ffffff;
    outline: none;
    border-radius: 4px;
    border-style: none;
    background-color: #e8004a;
    transition: all  0.1s ease;
    cursor: pointer;
}

.redbutton:hover {
    background-color: #ca0040;
}

.redbutton[disabled], .redbutton[disabled]:hover, .redbutton.disabled, .redbutton.disabled:hover {
    background-color: #ff709e;
    cursor: auto;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    margin: 0 auto;
    background-color: var(--color-blue);
    color: white;
    font-size: 15px;
    line-height: 100%;
    text-align: center;
    box-sizing: border-box;
}
