
/* watch.php only */

section {
    max-width: 1250px !important;
}

#search-wrap {
    display: flex;
    box-sizing: border-box;
    min-height: 100vh;
}

#search-find-box {
    width: 25%;
    background-color: var(--color-green);
    z-index: 50;
}

.dark-theme #search-find-box, .dark-theme #search-find-link-box {
    background-color: #46b2aa;
}

.dark-theme .search-find-selected {
    background-color: var(--color-green);
}

#search-find-wrap {
    position: -webkit-sticky;
    position: sticky;
    top: 54px;
}
@media screen and (min-width: 767px) {
    .vertical-navmenu #search-find-wrap {
        top: 4px;
    }
}

#search-find-title {
    display: flex;
    padding: 16px 40px;
    margin: 0;
    width: 100%;
    color: #fafafa;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1.5px #68fff4 solid;
}

#search-find-submit, #search-find-toggle {
    font-size: 26px;
    margin-right: 32px;
}

#search-find-submit {
    cursor: pointer;
}

#search-find-submit:hover {
    color: #71fff6;
}

#search-find-form {
    width: 75%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0px 15px;
    font-family: inherit;
    font-size: 15px;
    outline: none;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-sizing: border-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#search-find-form:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

#search-find-toggle {
    display: none;
}

.search-find-link {
    display: flex;
    padding: 16px 40px;
    margin: 0;
    width: 100%;
    color: #fafafa;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}
@media screen and (min-width: 767px) {
    @media screen and (max-width: 900px) {
        .vertical-navmenu .search-find-link {
            padding: 16px 15px 16px 20px;
        }
    }
}

.search-find-link:hover{
    color: #71fff6;
}

.search-find-link i {
    width: 24px;
    font-size: 26px;
    margin-right: 32px;
}

.search-find-link span {
    font-size: 17px;
}

.search-find-selected {
    background-color: #46b2aa;
    border-right: 8px #FFFFFF solid;
}

#search-box {
    width: 75%;
    padding: 20px;
}

#search-info {
    padding-bottom: 15px;
    font-size: 17px;
    font-weight: bold;
}

.error {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}

.error-text {
    color: var(--color-red);
}

#search-list {
    display: block !important;
    opacity: 0;
}

.search-file-box {
    display: flex;
    margin-bottom: 18px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

@media screen and (min-width: 1025px){
    .search-file-box:hover {
        background-color: var(--color-hover);
    }
}

.search-file-thumb {
    width: 30%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.list .search-file-thumb {
    width: 17%;
}

.search-file-thumb-img {
    display: block;
    width: 100%;
    height: 100%;
}

.search-file-ext {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    color: #ffffff;
    font-size: 12px;
    width: 32px;
    height: 20px;
    user-select: none;
    -webkit-user-select: none;
}

.search-file-ext.ts {
    background-color: #e91d5d;
}

.search-file-ext.mp4 {
    background-color: #007cff;
}

.search-file-ext.mkv {
    background-color: #744bff;
}

.search-file-download, .search-file-encode {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 5px;
    right: 5px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    font-size: 20px;
    width: 35px;
    height: 35px;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
}

.search-file-download:link, .search-file-download:visited,
.search-file-encode:link, .search-file-encode:visited {
    color: #ffffff;
} 

/*
@media screen and (min-width: 1025px){
    .search-file-thumb:hover > .search-file-download,
    .search-file-thumb:hover > .search-file-encode {
            opacity: 1;
    }
}

.search-file-download.open, .search-file-encode.open {
    opacity: 1;
}
*/

@media screen and (min-width: 1025px){
    .search-file-thumb:hover > .search-file-download {
            opacity: 1;
    }
}

.search-file-download.open {
    opacity: 1;
}

.search-file-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    font-family: inherit;
    padding-left: 18px;
    box-sizing: border-box;
    line-height: 160%;
}

.list .search-file-content {
    width: 83%;
}

.search-file-path, .start_timestamp, .end_timestamp {
    display: none;
}

.search-file-title {
    display: -webkit-box;
    margin-top: 2px;
    font-size: 18.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.list .search-file-title {
    -webkit-line-clamp: 1;
}

.search-file-info {
    color: var(--color-text-gray);
}

.search-file-info span {
    display: inline-block;
}

.search-file-channel {
    display: inline-block;
    color: var(--color-red);
    margin-right: 8px!important;
}

.search-file-description {
    color: var(--color-text-gray);
    margin-top: 6px;
    margin-bottom: 0px;
    display: -webkit-box;
    font-size: 13.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 155%;
}

.list .search-file-description {
    -webkit-line-clamp: 1;
}

#search-more-box {
    position: relative;
    display: block;
    background-color: var(--color-white);
    text-align: center;
    font-size: 16px;
    color: var(--color-text);
    border-radius: 20px;
    padding: 13px;
    margin: 20px 16px 10px 16px;
    border: 1px solid var(--color-border);
    transition: 0.15s ease-in-out;
    cursor: pointer;
}

#search-more-box:hover {
    background-color: var(--color-hover);
}

#search-more-box i{
    position: absolute;
    left: 30px;
    font-size: 22px;
    line-height: 25px;
    color: #70757a;
}

@media screen and (max-width: 767px){
    html.open {
        position: relative !important;
        width: 100%;
        height: 100%;
    }
}

#search-stream-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 400;
    margin: auto;
    padding: 20px 22px;
    box-sizing: border-box;
    transition: transform 0.33s, opacity 0.3s, visibility 0.3s ease-in-out;
    transform: translateY(-50px);
    visibility: hidden;
    opacity: 0;
    width: 95%;
    height: 345px;
    max-width: 500px;
    max-height: 95vh;
    background-color: var(--color-white);
    border-radius: 5px;
    will-change: opacity;
}

#search-stream-box.open {
    transform: translateY(0px) !important;
    transition-delay: 0s;
    visibility: visible;
    opacity: 1;
}

#search-stream-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

#search-stream-info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    color: var(--color-text-gray);
    margin-top: 5px;
}

.form span {
    width: 30%;
}

@media (max-width: 1024px) {
    /* iOS Safari のみ */ 
    _::-webkit-full-page-media, _:future, :root #search-stream-box {
        max-height: 83vh;
    }
}

@media screen and (max-width: 767px){
    #search-stream-box {
        top: auto;
        width: 100%;
        height: 454px;
        padding: 20px 18px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        transform: translateY(500px);
        opacity: 1;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    .ios.safari #search-stream-box {
        height: 466px;
    }
    .android.chrome #search-stream-box {
        height: 439px;
    }
}

@media screen and (max-width: 1150px){
    #search-find-title {
        padding: 16px 20px 16px 35px;
    }

    #search-find-submit, #search-find-toggle {
        margin-right: 16px;
    }

    .search-find-link {
        padding: 16px 20px 16px 35px;
    }

    .search-find-link i {
        margin-right: 16px;
    }

    .search-file-title {
        font-size: 17px;
    }
}

@media screen and (max-width: 900px){

    #search-find-box {
        width: 28%;
    }

    #search-box {
        width: 72%;
    }
    
    #search-find-submit, #search-find-toggle {
        font-size: 20px;
    }

    #search-find-title {
        padding: 16px 15px 16px 25px;
    }

    .search-find-link {
        padding: 16px 15px 16px 25px;
    }

    .search-find-link span {
        font-size: 15px;
    }

    .search-find-link i {
        font-size: 20px;
    }

    .search-file-thumb {
        width: 40%;
    }

    .list .search-file-thumb {
        width: 22%;
    }
    
    .search-file-content {
        width: 60%;
        font-size: 14.5px;
        line-height: 150%;
    }

    .list .search-file-content {
        width: 78%;
    }

    .search-file-title {
        font-size: 14.5px;
    }

    .search-file-info{
        font-size: 13px;
    }

    .search-file-description {
        margin-top: 3px;
        font-size: 12px;
    }
}


@media screen and (max-width: 767px){
    #search-wrap {
        flex-direction: column;
    }

    #top {
        position: fixed!important;
    }

    #search-find-box {
        width: 100%;
        position: fixed;
        top: 54px;
    }

    #search-find-link-box {
        display: none;
    }

    #search-find-title {
        padding: 12px 6px;
    }

    #search-find-submit, #search-find-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }

    #search-find-form {
        width: 70%;
    }
    
    #search-find-link-box {
        position: fixed;
        background-color: var(--color-green);
        top: 114px;
        left: 0px;
        width: 100%;
        border-bottom: 1px solid var(--color-green);
    }

    #search-box {
        width: 100%;
        padding: 125px 30px 30px 30px;
        box-sizing: border-box;
    }

    .search-file-box {
        margin-bottom: 20px;
    }

    .search-file-thumb {
        width: 45%;
    }

    .list .search-file-thumb {
        width: 20%;
    }

    .search-file-ext {
        font-size: 10px;
        width: 28px;
        height: 16px;
    }
    
    .search-file-content {
        width: 55%;
        padding-left: 25px;
        font-size: 16.5px;
    }

    .list .search-file-content {
        width: 80%;
        line-height: 125%;
    }
    
    .search-file-title {
        font-size: 15px;
        -webkit-line-clamp: 3;
    }

    .search-file-info {
        margin-top: 4px;
    }

    .search-file-description {
        -webkit-line-clamp: 3;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 500px){

    #search-box {
        padding: 125px 15px 15px 15px;
    }
    
    .search-find-link {
        padding: 12px 20px;
    }

    #search-info {
        padding-top: 7px;
        font-size: 15px;
    }

    .list .search-file-thumb {
        width: 25%;
    }
    
    .search-file-content {
        padding-left: 12px;
        font-size: 14.5px;
        line-height: 125%;
    }

    .list .search-file-content {
        width: 75%;
        line-height: 110%;
    }
    
    .search-file-title {
        font-size: 13px;
        -webkit-line-clamp: 2;
    }

    .list .search-file-title {
        font-size: 13px;
        margin-top: 0px;
    }

    .search-file-info {
        font-size: 11.5px;
        margin-top: 1px;
    }

    .list .search-file-info {
        font-size: 10px;
    }

    .list .search-file-channel {
        margin-right: 1px !important;
    }

    .search-file-description {
        -webkit-line-clamp: 1;
        line-height: 100%;
    }

    .list .search-file-description {
        margin-top: 1px;
        font-size: 11.5px;
        letter-spacing: 0.01em;
    }

    .form span {
        width: 100%;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 350px){

    .search-file-description {
        display: none;
    }
}
